In [ ]:
# Declare an empty list
empty_list = []

In [ ]:
# Declare a list with values
my_list = [1, 2, 3, 4, 5]

In [ ]:
my_list

[1, 2, 3, 4, 5]

In [ ]:
# Lists can have elements of different data types
mixed_list = [1, "hello", 3.14, True]

In [ ]:
mixed_list

[1, 'hello', 3.14, True]

In [ ]:
# Import the array module
from array import array

# Create an array of integers
integer_array = array('i', [1, 2, 3, 4, 5])     # array(data-type, value list)

# Accessing elements in an array
print(integer_array[0])  # Output: 1
print(integer_array[2])  # Output: 3

# Modifying elements in an array
integer_array[1] = 10
print(integer_array)  # Output: array('i', [1, 10, 3, 4, 5])

# Get the length of the array
print(len(integer_array))  # Output: 5

1
3
array('i', [1, 10, 3, 4, 5])
5

In [ ]:
# Using a list
my_list = [10, 20, 30, 40, 50]

# Accessing elements in a list
element_at_index_2 = my_list[2]
print(element_at_index_2)  # Output: 30

# Using the array module
from array import array

# Create an array of integers
integer_array = array('i', [1, 2, 3, 4, 5])

# Accessing elements in an array
element_at_index_3 = integer_array[3]
print(element_at_index_3)  # Output: 4

30
4

In [ ]:
# Using a list
last_element = my_list[-1]
print(last_element)  # Output: 50

# Using the array module
last_element_array = integer_array[-1]
print(last_element_array)  # Output: 5

50
5

In [ ]:
# Inserting Element in array

In [ ]:
# Using a list
my_list = [10, 20, 30, 40, 50]

# Inserting an element at a specific index
my_list.insert(2, 25)  # Insert 25 at index 2 (index position, value)
print(my_list)  # Output: [10, 20, 25, 30, 40, 50]

# Appending an element to the end of the list
my_list.append(60)
print(my_list)  # Output: [10, 20, 25, 30, 40, 50, 60]

[10, 20, 25, 30, 40, 50]
[10, 20, 25, 30, 40, 50, 60]

In [ ]:
from array import array

# Create an array of integers
integer_array = array('i', [1, 2, 3, 4, 5])

# Inserting an element at a specific index
integer_array.insert(2, 99)  # Insert 99 at index 2
print(integer_array)  # Output: array('i', [1, 2, 99, 3, 4, 5])

# Appending an element to the end of the array
integer_array.append(100)
print(integer_array)  # Output: array('i', [1, 2, 99, 3, 4, 5, 100])

array('i', [1, 2, 99, 3, 4, 5])
array('i', [1, 2, 99, 3, 4, 5, 100])

In [ ]:
#removal of an element from an array

In [ ]:
# Create an array of integers
integer_array = array('i', [1, 2, 3, 4, 5])
integer_array.remove(3) #
print(integer_array)

array('i', [1, 2, 4, 5])

In [ ]:
len(integer_array)

4

In [ ]:
a=array('d', [2.2,1.2,3.4])
b=array('d',[3.4,4.2])
c=array('i')

In [ ]:
c=a+b

In [ ]:
c

array('d', [2.2, 1.2, 3.4, 3.4, 4.2])

In [ ]:
# Using reverse() method
my_list = [1, 2, 3, 4, 5]
my_list.reverse()           # reverse() this is a predefined function and it will reverse all the element  from my_list
print(my_list)

[5, 4, 3, 2, 1]

In [ ]:
# Using slicing syntax
my_list = [1, 2, 3, 4, 5]
new_list = my_list[::-1]                # it will read the elements from the back side means 5-4-3-2-1
print(new_list)

[5, 4, 3, 2, 1]

In [ ]:
#Reverse array in list using loop
arr=[4,5,2,6,8]
print("original array:");
for i in range (0,len(arr)):                      # start from 0 index that is 4 and execute till len(arr) means index 4 and its value is 8
  print(arr[i])
print("array in reverse order:");
for i in range(len(arr)-1,-1,-1):             # start from the last index then decrement the index value
  print(arr[i])

original array:
4
5
2
6
8
array in reverse order:
8
6
2
5
4

In [ ]:
#using reversed() method
arr=[12,34,56,78]
print("original array is :",arr)
result=list(reversed(arr))
print("Resultant new reversed Array:", result)

original array is : [12, 34, 56, 78]
Resultant new reversed Array: [78, 56, 34, 12]

In [ ]:
import array
new_arr=array.array('i',[10,20,30,40])
print('original array is:',new_arr)
res_arr=array.array('i',reversed(new_arr))
print('resultant reversed array:', res_arr)

original array is: array('i', [10, 20, 30, 40])
resultant reversed array: array('i', [40, 30, 20, 10])

In [ ]:
import numpy as np
new_arr=np.array(['a','s','k','p','y','t','h','o','n'])
print('original array:',new_arr)
res_arr=np.flip(new_arr)
print('resultant reversed array:',res_arr)

original array: ['a' 's' 'k' 'p' 'y' 't' 'h' 'o' 'n']
resultant reversed array: ['n' 'o' 'h' 't' 'y' 'p' 'k' 's' 'a']

In [ ]:
my_list = [1, 2, 3, 1, 2, 1, 4, 5, 4, 3, 2]

# Count occurrences of each element
for element in set(my_list):  # Using set to iterate over unique elements
    count = my_list.count(element)
    print(f"{element}: {count} times")

1: 3 times
2: 3 times
3: 2 times
4: 2 times
5: 1 times

In [ ]:
my_list = [1, 2, 3, 1, 2, 1, 4, 5, 4, 3, 2]

# Using a count variable
count_dict = {}  # Dictionary to store counts

for element in my_list:
    if element in count_dict:
        count_dict[element] += 1
    else:
        count_dict[element] = 1

# Access counts
for element, count in count_dict.items():
    print(f"{element}: {count} times")

1: 3 times
2: 3 times
3: 2 times
4: 2 times
5: 1 times

In [ ]:
my_list = [1, 2, 3, 1, 2, 1, 4, 5, 4, 3, 2]

# Using a single count variable
count = 0

for element in my_list:
    if element == 4:  # Change to the element you want to count
        count += 1

print(f"Count of 4: {count} times")

Count of 4: 2 times

In [ ]:
my_list = [1, 2, 3, 1, 2, 1, 4, 5, 4, 3, 2]

# Using dict to count occurrences
count_dict = {}
for element in my_list:
    count_dict[element] = count_dict.get(element, 0) + 1

# Access counts
for element, count in count_dict.items():
    print(f"{element}: {count} times")

1: 3 times
2: 3 times
3: 2 times
4: 2 times
5: 1 times

In [ ]:
from collections import Counter

my_list = [1, 2, 3, 1, 2, 1, 4, 5, 4, 3, 2]

# Using Counter
counter = Counter(my_list)

# Access counts
for element, count in counter.items():
    print(f"{element}: {count} times")

1: 3 times
2: 3 times
3: 2 times
4: 2 times
5: 1 times

In [ ]:
array= [10,20,23,43,11]
max_element=max(array)
min_element=min(array)
print(f"maximum elemet:{max_element}")
print(f"minimum elemet:{min_element}")

maximum elemet:43
minimum elemet:10

In [ ]:
#removal of duplicated
ordered_ary=[1,2,2,13,14,22,22,34]
unique_ary=[ordered_ary[i] for i in range(len(ordered_ary)) if i==0 or ordered_ary[i] != ordered_ary[i-1]]
print(unique_ary)

[1, 2, 13, 14, 22, 34]

In [ ]:
# How to delete element form an array using index value

In [ ]:
import array
# Create an array of integers
integer_array = array.array('i', [1, 2, 3, 4, 5])

# deleting an element of a specific index
del integer_array[2]
print(integer_array)

array('i', [1, 2, 4, 5])

In [ ]:
# how to update an array

In [ ]:
import array
# Create an array of integers
integer_array = array.array('i', [1, 2, 3, 4, 5])

# updating an element of a specific index
integer_array[2]=30
print(integer_array)

array('i', [1, 2, 30, 4, 5])

In [ ]:
# how to find maximum number in an array

In [ ]:
import array
# Create an array of integers
integer_array = array.array('i', [1, 2, 3, 4, 5])
min(integer_array)
print(min(integer_array) )

max(integer_array)
print(max(integer_array) )

1
5

In [ ]:
#Dealing with SET

In [ ]:
def MAX(sets):
  return (max(sets))
sets=set([8,3,4,2,14,50,25])
print(MAX(sets))

50

In [ ]:
def MIN(sets):
  return (min(sets))
sets=set([8,3,4,2,14,50,25])
print(MIN(sets))

2

In [ ]:
# Removal of duplicate

In [ ]:
# Python code to remove duplicate elements
def Remove(duplicate):
	final_list = []
	for num in duplicate:
		if num not in final_list:
			final_list.append(num)
	return final_list

# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]

In [ ]:
# using set method because SET only contains unique value

In [ ]:
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print((set(duplicate)))

{2, 4, 5, 10, 20}

In [ ]:
# using counter Function

In [ ]:
# Python code to remove duplicate elements
from collections import Counter
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
unique = Counter(duplicate)
print((unique.keys()))

dict_keys([2, 4, 10, 20, 5])

In [ ]:
# Array Splitting

Splitting is reverse operation of Joining. Joining merges multiple arrays into one and Splitting breaks one array into multiple.

In [ ]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 3)

print(newarr)

[array([1, 2]), array([3, 4]), array([5, 6])]

In [ ]:
# Split the array in 4 parts:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6])

newarr = np.array_split(arr, 4)

print(newarr)

[array([1, 2]), array([3, 4]), array([5]), array([6])]

In [ ]:
#Split the 2-D array into three 2-D arrays.
import numpy as np

arr = np.array([[1, 2], [3, 4], [5, 6], [7, 8], [9, 10], [11, 12]])

newarr = np.array_split(arr, 3)

print(newarr)

[array([[1, 2],
       [3, 4]]), array([[5, 6],
       [7, 8]]), array([[ 9, 10],
       [11, 12]])]

In [ ]:
# Python program to split array and move first
# part to end.


def splitArr(arr, n, k):
	for i in range(0, k):
		x = arr[0]
		for j in range(0, n-1):
			arr[j] = arr[j + 1]

		arr[n-1] = x


# main
arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2

splitArr(arr, n, position)

for i in range(0, n):
	print(arr[i], end=' ')

5 6 52 36 12 10

Time complexity: O(nk), where n is the length of the array and k is the number of times the first part of the array needs to be moved to the end.
Auxiliary space: O(1), the program only uses a constant amount of additional memory.

In [ ]:
# Python program to split array and move first
# part to end.


def splitArr(a, n, k):
	b = a[:k]
	return (a[k::]+b[::])


# main
arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
arr = splitArr(arr, n, position)
for i in range(0, n):
	print(arr[i], end=' ')

5 6 52 36 12 10

Time Complexity: O(n), where n is the length of the input array ‘arr’.
Auxiliary Space: O(k), where k is the value of ‘position’ input parameter.

In [ ]:
# Python program to split array and move first
# part to end.

arr = [12, 10, 5, 6, 52, 36]
n = len(arr)
position = 2
x = arr[:position]
y = arr[position:]
y.extend(x)
for i in y:
	print(i, end=" ")

5 6 52 36 12 10

Time complexity: O(n)
Auxiliary space: O(n)

In [ ]:
# Array Partitioning
def partition(arr, l, h):
    lm = []
    mm = []
    hm = []
    for i in arr:
        if i < l:
            lm.append(i)
        elif i > h:
            hm.append(i)
        else:
            mm.append(i)
    return lm + mm + hm


array = [1, 17, 22, 16, 13, 5, 43, 18, 3, 10]
lowVal = 14
highVal = 20
print("After Partitioning :", partition(array, lowVal, highVal))

After Partitioning : [1, 13, 5, 3, 10, 17, 16, 18, 22, 43]