In [ ]:
y=2+4

:

In [ ]:
y

6

In [ ]:
print

6

In [ ]:
a=12
b=10

In [ ]:
a==b

False

In [ ]:
a-b

-2

In [ ]:
15//4

3

In [ ]:
c

-2

In [ ]:
print(c)

-2

In [ ]:
## If conditions  and for loops

lst=[1,2,3,4,5,6,7,8,9,10,12,13,14,15]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

56 53

In [ ]:
def add(num1,num2):
    return num1+num2

In [ ]:
add(2,4)

6

In [ ]:
def add_list(lst):
    sum1 =0
    for i in lst:
        print(i)
        sum1=sum1+int(i)
    return sum1

In [ ]:
add_list([1,2,3,4,5,6])

1
2
3
4
5
6

21

In [ ]:
input_num=list(input("Enter the list"))

Enter the list3,4,5,6,7

In [ ]:
input_num

['3', ',', '4', ',', '5', ',', '6', ',', '7']

In [ ]:
add_list(input_num)

3
,

ValueError: ignored

In [ ]:
# Python function that calculates the factorial of a given number using recursion

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

# Example usage:
number = 5
result = factorial(number)
print(f"The factorial of {number} is {result}")

The factorial of 5 is 120

In [ ]:
def greet():
    print('Hello World!')

# call the function
greet()

print('Outside function')

Hello World!
Outside function

In [ ]:
#Python Function Arguments

In [ ]:
# function with two arguments
def add_numbers(num1, num2):
    sum = num1 + num2
    print('Sum: ',sum)

In [ ]:
add_numbers(num1 = 5, num2 = 4)

Sum:  9

In [ ]:
add_numbers(12,13)

Sum:  25

In [ ]:
# function with no argument
def add_numbers():
  10,12

In [ ]:
add_numbers()

In [ ]:
add_numbers(num1 = 5, num2 = 4)

TypeError: ignored

In [ ]:
# Function return Type

In [ ]:
# function definition
def find_square(num):
    result = num * num
    return result

# function call
square = find_square(3)

print('Square:',square)

Square: 9

In [ ]:
import module1

ModuleNotFoundError: ignored